{% extends "polls/base.html" %} {% block content %}
<div class="d-flex justify-content-end">
  <div class="profile-summary border d-flex flex-column p-2  m-1 mx-2">
    {% if user.is_authenticated %}
    <p class="m-0">Logged in as:</p>
    <h4 class="m-0">{{ user.username }}</h4>
    <form action="/logout" method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-end my-2 mb-1">
        
      <button class="btn btn-primary">logout</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center">
   
  <div
    class="poll-container border border-1 rounded-2 p-3"
    style="width: fit-content; min-width: 400px">
    <div class="title-container w-100">
    <h1 class="text-center">Polls</h1>
  </div>
    <p class="current-poll" id="{{question.id}}">{{ question }}</p>

    <form action="/submit-answer/{{ question.id }}" method="POST">
      {% csrf_token %} {% for answer in answers %}
      <div class="form-check border rounded-2 p-0">
        <input {% if answered and selectedAnswer.id == answer.id %} checked {% endif %} required
          class="btn-check"
          name="answer"
          type="radio"
          value="{{answer.id}}"
          id="answer-{{answer.id}}" />
        <label
          class="btn p-1 px-2 text-start"
          for="answer-{{answer.id}}"
          style="width: fit-content; min-width: 400px">
          {{answer}}
        </label>
      </div>
      {% endfor %}
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
      </div>
    </form>
    <div class="stats mt-1">
      <span>{{ question.answered_count }} responses.</span>
    </div>
  </div>
</div>
<script>

  // const submitBtn = document.querySelector('.submit-btn');
  // const formSubmit = document.querySelector('form');
  // formSubmit.addEventListener('submit',(event) => {
  //     //stop default if nothing is selected
  //     event.target.querySelector("input:checked");
  // });
</script>
{% endblock %}
