{% extends "polls/base.html" %}
{% block content %}
<h1 class="text-center">Polls</h1>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="border border-1 rounded-2 p-3" style="width: fit-content; min-width: 400px;">
    <p class="current-poll" id="{{question.id}}">{{ question }}</p>

    <form action="/submit-answer/{{ question.id }}" method="POST">
      {% csrf_token %}
      {% for answer in answers %}
      <div class="form-check border rounded-2 p-0">
        <input class="btn-check" name="options-base" type="radio" value="{{answer.id}}" id="answer-{{answer.id}}">
        <label class="btn p-1 px-2 text-start" for="answer-{{answer.id}}" style="width: fit-content; min-width: 400px;">
          {{answer}}
        </label>
      </div>    
      {% endfor %}
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
    <div class="stats mt-1">
      <span>{{ responses }} responses.</span>
    </div>
  </div>
</div>
<script>
  //grab all poll ids into a set
  const pollIds = document.querySelectorAll(".list-group-item");
  const pollIdsSet = new Set();
  pollIds.forEach((pollId) => {
    pollIdsSet.add(pollId.id);
  });


  //on click li.answer make active
  const answers = document.querySelectorAll(".answer");
  let selectedAnswerId = null;
  let selectedQuestionId = null;
  //check for current active answer and make it selectedAnswerId
  const activeAnswer = document.querySelector(".answer.active");
  if (activeAnswer) {
    selectedAnswerId = activeAnswer.id;
  }

  answers.forEach((answer) => {
    answer.addEventListener("click", (e) => {
      //remove active class from all answers
      answers.forEach((answer) => {
        answer.classList.remove("active");
      });
      //add active class to clicked answer
      answer.classList.add("active");
      selectedAnswerId = answer.id;
      selectedQuestionId = document.querySelector(".current-poll").id;
    });
  });
</script>
{% endblock %}