{% extends "polls/base.html" %} {% block content %}
{% load custom_tags %}

{% if user.is_authenticated %}
<div class="d-flex justify-content-end text-capitalize mb-4">
  <div class="profile-summary border d-flex flex-column p-2  m-1 mx-2" style="min-width: 150px;">
    
    <p class="m-0">profile:</p>
    <h5 class="m-0">{{ user.username }}</h5>
    <form action="/logout" method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-end my-2 mb-1">
        
      <button class="btn btn-primary text-capitalize w-100">logout</button>
      </div>
    </form>
  </div>
</div>    
{% endif %}


<div class="container-fluid d-flex justify-content-center align-items-center my-2">
   
  <div
    class="poll-container border border-1 rounded-2 p-3"
    style="width: fit-content; min-width: 400px">
    <div class="title-container w-100">
    <h1 class="text-center">Polls</h1>
  </div>
    <p class="current-poll" id="{{question.id}}">{{ question }}</p>
    {% if not answered %}
    
      <form action="/submit-answer/{{ question.id }}" method="POST">
        {% csrf_token %} {% for answer in answers %}
        <div class="form-check border rounded-2 p-0 poll-option" data-response-rate="{{ answer.picked|getPercent:question.responses }}">
        
            <input {% if answered and selectedAnswer.id == answer.id %} checked {% endif %} required 
              class="btn-check"
              name="answer"
              type="radio"
              value="{{answer.id}}"
              id="answer-{{answer.id}}" >
        
          <label
            class="btn p-1 px-2 d-flex justify-content-between"
            for="answer-{{answer.id}}"
            style="width: fit-content; min-width: 400px">
            <span>{{answer}}</span>
              <span>{{ answer.picked }} votes</span>
          </label>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary submit-btn" type="submit">Submit</button>
        </div>
      </form>
    {% else %}
      <ul class="list-group">
        {% for answer in answers %}
          <li class="list-group-item d-flex justify-content-between poll-option" {% if userAnswer == answer  %} selected {% endif %}  data-response-rate="{{ answer.picked|getPercent:question.responses }}">
            <span>{{ answer }}</span>
            <span>{{ answer.picked }} votes</span>
          </li>
        {% endfor %}
        
      </ul>
    {% endif %}


    <div class="stats mt-1">
      <span>{{ question.responses }} responses.</span>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll(".poll-option").forEach(bar => {
    const percent = bar.dataset.responseRate;

  bar.style.background = `
    linear-gradient(
      to right,
      #3498db 0%,
      #3498db ${percent}%,
      white ${percent}%,
      white 100%
    )`;
});
</script>
{% endblock %}
